USE [master]
GO
/****** Object:  Database [Notebook]    Script Date: 28.11.2022 20:42:25 ******/
CREATE DATABASE [Notebook]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Notebook', FILENAME = N'D:\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Notebook.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Notebook_log', FILENAME = N'D:\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Notebook_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Notebook].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Notebook]
GO
/****** Object:  Table [dbo].[notes]    Script Date: 28.11.2022 20:42:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[notes](
	[title] [nvarchar](50) NULL,
	[content] [nvarchar](250) NULL,
	[userid] [int] NULL,
	[noteid] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_notess] PRIMARY KEY CLUSTERED 
(
	[noteid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 28.11.2022 20:42:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[userid] [int] IDENTITY(1,1) NOT NULL,
	[login] [nvarchar](50) NULL,
	[password] [nvarchar](50) NULL,
	[name] [nvarchar](50) NULL,
	[surname] [nvarchar](50) NULL,
 CONSTRAINT [PK_users] PRIMARY KEY CLUSTERED 
(
	[userid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[notes] ON 

INSERT [dbo].[notes] ([title], [content], [userid], [noteid]) VALUES (N'notatka jakuba', N'tu jest zawartosc mojej notatki ', 16, 11)
INSERT [dbo].[notes] ([title], [content], [userid], [noteid]) VALUES (N'MOJA NOTATKA', N'NOTAKDSAKDASKD DASDSADAS', 15, 12)
SET IDENTITY_INSERT [dbo].[notes] OFF
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([userid], [login], [password], [name], [surname]) VALUES (15, N'patryk123', N'+L1FTBywAIB3/sPzIvVRWCMX1sw8PBaTvwCWIqOvkIM=', N'Patryk', N'Kordek')
INSERT [dbo].[users] ([userid], [login], [password], [name], [surname]) VALUES (16, N'jakub123', N'897lI4wn8xOy44QOlMRwXUZ/hrrlnyikA09p1gHe4YM=', N'Jakub', N'Kowalski')
SET IDENTITY_INSERT [dbo].[users] OFF
GO
ALTER TABLE [dbo].[notes]  WITH CHECK ADD  CONSTRAINT [FK_notess_users] FOREIGN KEY([userid])
REFERENCES [dbo].[users] ([userid])
GO
ALTER TABLE [dbo].[notes] CHECK CONSTRAINT [FK_notess_users]
GO
USE [master]
GO
